.testoNavbar{
   color: white;
}

.logo{
    height: 5%;
    width: 5%;
}

.sfondoNavbar{
    background-color: rgb(72, 7, 67);
    
    padding: 2%;
}

.social{
    height: 30px;
    width: 30px;
}

.immaginiCarosello{
    height: 100%;
    width:100%;
}

.giglio{
  height: 50px;
  width: 50px;
}

.sponsor{
    height: 10%;
    width: 10%;
    float: right;
}


.squadre:hover{
   color: black;
}

.giocatori{
    height: 60%;
    width:100%;
    text-align: center;
   
}